{% extends '__base.html' %}
{% block content %}
<div class="grid container large-offset-1">
    <div class="grid-x">
        <div class="cell medium-8">
            <h2>Please confirm your data</h2>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell medium-8">
            <h3>Session {{ sessionData_id }}</h3>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell medium-8">
            <h3><a href="{{ dustrak_file_url }}">{{ dustrak_file_url }}</a></h3>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button warning" type="reset">Clear Form</button>
        <button class="button" type="submit">Save</button>
    </form>
</div>
{% endblock %}