{% extends '__base.html' %}
{% load static %}
{% block content %}
<div class="grid-container large-offset-1 grid-padding-y">
  <div class="grid-y">
    <div class="callout secondary large">
      <h3>Drop your DusTrack and GPS files here</h3>
    </div>
  </div>
  <div class="grid-x">
    <p>or</p>
  </div>
  <div class="grid-x">
    <button type="button" class="button js-upload-documents">Find files on your computer</button>
  </div>
  <br> 
  
  <div class="grid-x">
    <div class="progress" role="progressbar">
      <div class="progress-meter" ></div>
    </div>
  </div>
  <div class="grid-x">
    <input id="fileupload" type="file" name="file" multiple
          style="display: none;"
          data-url="{% url 'upload' %}"
          data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>  
  </div>

  <div class="grid-x">
    <div id="files" class="files"></div>
  </div>

  <div class="grid-x">
        <table id="gallery">
      <thead>
        <tr>
          <th>Session files</th>
        </tr>
      </thead>
      <tbody>
        {% for document in documents %}
          <tr>
            <td><a href="{{ document.file.url }}">{{ document.file.name }}</a></td>
            <td><a href="{% url 'delete' document.pk %}" class="alert button">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload-process.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload-validate.js' %}"></script>
<script src="{% static 'js/upload.js' %}"></script>
{% endblock%}
